name: Build iOS App

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Flutter Info
      run: |
        flutter --version
        flutter doctor -v

    - name: Install dependencies
      run: flutter pub get

    - name: Install CocoaPods
      run: |
        cd ios
        pod install
        cd ..

    - name: Build unsigned IPA
      run: |
        flutter clean
        flutter pub get
        flutter build ipa --release --no-codesign --verbose

    - name: Collect IPA
      run: |
        mkdir -p build_artifacts
        find build/ios -name "*.ipa" -maxdepth 5 -exec cp {} build_artifacts/ \;
        echo "IPA FILES:"
        ls -lah build_artifacts || echo "NO IPA FOUND"

    - name: Upload IPA artifact
      uses: actions/upload-artifact@v4
      with:
        name: ios-ipa
        path: build_artifacts/
        if-no-files-found: error
        retention-days: 7
